.gitignore
.mypy_cache/** 
.vscode/** 
.venv/
.git/
volumes/
tests/
pytest.ini
docker-compose.yml
Dockerfile

**/__pycache__/** 
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyz
**/*.pyw
**/*.pywz
**/.pytest_cache/** 

.flake8
.coverage
.env
.env.default